[submodule "auth"]
	path = auth
	url = https://github.com/BraianMG/ticketing-microservices-auth.git
[submodule "client"]
	path = client
	url = https://github.com/BraianMG/ticketing-microservices-client.git
[submodule "infra"]
	path = infra
	url = https://github.com/BraianMG/ticketing-microservices-infra.git
[submodule "common"]
	path = common
	url = https://github.com/BraianMG/ticketing-microservices-common.git
[submodule "tickets"]
	path = tickets
	url = https://github.com/BraianMG/ticketing-microservices-tickets.git
[submodule "nats-test"]
	path = nats-test
	url = https://github.com/BraianMG/ticketing-microservices-nats-test.git
